/* Structure général */

body {
    background-color: #eaf0eb;
}

/* Header */

header {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.3rem;
}

nav {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
}

nav a {
    color: white;
    font-size: 1.3rem;
}

/* Page des salles */

.salles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5 rem;
}

.salle {
    background-color: white;
    padding: 1.5 rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}