.salles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5 rem;
}

.salle {
    background-color: white;
    padding: 1.5 rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}